/* Estilos base */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("../imagenes/fondo2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    

    color: #000; /* Color negro para el texto */
}

header {
    background-color: #fff; /* Color blanco para la barra */
    padding: 4px;
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: flex-end; /* Alinea el contenido del menú a la derecha */
    text-align: right; /* Alinea el texto del menú a la derecha */
    width: 80%; /* Ajusta el ancho del contenedor del menú */
    margin: 0 auto; /* Centra el contenedor del menú horizontalmente */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap; /* Evita que los elementos del menú se envuelvan a la siguiente línea */
}

nav ul li {
    display: inline;
    margin-right: 15px; /* Espacio entre elementos del menú */
}

nav ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento del menú */
}

nav ul li a {
    color: #0c2e50; /* Color negro para el texto del menú */
    text-decoration: none;
    display: inline-block; /* Convertir el enlace en un bloque en línea */
    padding: 10px; /* Ajustar el relleno según sea necesario */
    position: relative; /* Establecer posición relativa para agregar la línea inferior */
}

nav ul li a:hover {
    border-bottom: 2px solid #f5821f; /* Línea naranja debajo del enlace al pasar el cursor */
}

.contacto {
    background-color: #f5821f; /* Color naranja para el cuadro */
    padding: 5px 10px; /* Ajusta el padding según sea necesario */
    border-radius: 5px; /* Borde redondeado */
}

.contacto a {
    color: #fff; /* Color blanco para el texto */
    text-decoration: none;
}

.contacto:hover { /* Estilo aplicado cuando se pasa el cursor sobre el enlace */
    background-color: #f5821f; /* Color naranja para el cuadro */
}

main {
    padding-top: 100px; /* Ajusta el valor según la altura de tu barra de navegación */
}

footer {
    background-color: #f5821f; /* Color naranja para el pie de página */
    padding: 4px;
    position: fixed;
    bottom: 0;
    width: 100%; /* Ajusta el pie de página al ancho completo */
    text-align: center;
    color: #fff; /* Color blanco para el texto del pie de página */
}

footer p {
    margin: 0;
}

.footer .social-links {
    margin-bottom: 10px; /* Espacio entre los iconos y el texto del pie de página */
}

.footer .social-links a {
    display: inline-block;
    margin: 0 10px;
}

.footer .social-links img {
    width: 30px; /* Ajusta el tamaño de los iconos */
    height: 30px;
}

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 600px) {
    nav ul li a {
        margin-right: 10px; /* Reducir el margen para adaptarse a pantallas pequeñas */
    }
}